*.pyc
*~
*.bak
*.log
*.log.*
__init__.py
etc.py
test.py
config.py
infoshopkeeper/inventoryserver/*Template.py
infoshopkeeper/inventoryserver/*Template2.py
infoshopkeeper/inventoryserver/Skeleton.py

.DS_Store
infoshopkeeper/reports/untitled text
screenlog.0
tmp.py

infoshopkeeper-trac/