*.pyc
*.pyo
*~
*.html
*.bak
*.log
*.log.*
*.js
__init__.py
etc.py
test.py
config.py
infoshopkeeper/inventoryserver/sessions/*
infoshopkeeper/inventoryserver/*Template.py
infoshopkeeper/inventoryserver/*Template2.py
infoshopkeeper/inventoryserver/Skeleton.py

.DS_Store
infoshopkeeper/reports/untitled text
tmp.py

infoshopkeeper-trac/
