#from Skeleton import Skeleton
#extends Skeleton

#def pagetitle

#end def

#def body
<h1>Transactions</h1>
<form action="/notes/post_" method="post">
<label class='textbox' for='author'>Name</label>
<input class='textbox' type='text' id='author' name='author' /><br />

<label class='textbox' for='message'>Message</label>
<textarea class='textbox' rows='5' cols='50' id='message' name='message'></textarea><br />

<input class="submit" type="submit"><br />
<table class 'message_table' id='message_table' name='message_table'>
<thead>
<tr><th></th></tr>
</thead>
<tbody>
<tr><td></td></tr>
</tbody>
</table>
