.toolbar {
float:left;
position:relative;
padding:0;
}
.toolbar.nav {
list-style:none;
width:100%;
float:left;
position:relative;
margin:0;
}
.toolbar .nav li {
float:left;
text-align:center;
position:relative;
display: inline-block;
padding: 5px;
}
.toolbar .nav li:hover{
background-color:#ddd;
}
.toolbar .nav li a {
text-align:center;
padding:7px;
display:block;
text-decoration:none;
color:black;
font-weight:bold;
}
.toolbar .nav li a:hover {
color:red;
background-color:#ddd;
}
.toolbar .nav li ul {
display:none;
z-index:100;
}
.toolbar .nav li:hover ul {
display: block;
position: absolute;
background-color: #eee;
left: 0;
padding: 0;
}
.toolbar .nav li ul li {
border:none;
text-align:center;
position:relative;
}
body {
font-family: lucida,sans-serif;
background-color:#c44;
}
/*scrollable tables*/
/*table>tbody {
overflow: auto;
height: 280px;
overflow-x: hidden;
}*/
/* Sortable tables */
table.sortable a.sortheader {
padding-top:5px;
background-color:#c44;
color:#000;
font-weight: bold;
text-decoration: none;
display: block;
height:50px;
}
table.sortable span.sortarrow {
color: black;
text-decoration: none;
}
td{
padding:5px;
font-size:90%;
}
table.sortable tbody tr.odd {
background-color: LightGrey;
}
table.sortable tbody tr:hover {
background:LightCoral;
color:Black
}
table.sortable td{
padding:5px;
font-size:90%;
}
table.sortable {
font-size:100%;
border-width:2px;
border-color:#000;
border-style:solid;
background-color:white;
table-layout:auto;
width:100%;
}
table.sortable th {
border-width:2px;
border-color:#000;
border-style:solid;
}
table.sortable td {
border-width: 1px;
border-color: #000;
border-style: solid;
}
div#cart_panel {
width:95%;
float:left;
background-color:cccccc;
padding: 10px;
color: #c44;
margin:0px;
border-width:2px;
border-color:#000;
border-style:solid;
}
table#cart_table {
width: 100%;
background-color: White;
border-width:2px;
border-color:#000;
border-style:solid;
height: 100px;
min-height: 100px;
min-width: 100%;
}
div#cart_table_panel {
min-height: 50px;
height: auto !important;
height: 50px;
}
table#results_table {
width:100%;
float: left;
}
table#message_table {
width:100%;
}
table#message_table tbody td ul {
float: left;
line-height: normal;
}
table#message_table tbody td li {
display: inline;
margin: 10px;
font-weight: bold;
vertical-align: text-top;
float: right;
position: relative;
text-align: right;
}
table#message_table tbody td li:first-child {
float: left;
text-align: left;
}
table#message_table tbody td li:last-child {
clear: both;
width: 100%;
font-weight: normal;
text-align: left;
}
ul.special_order_list{
list-style-type:none;
}
ul.special_order_list li ul{
display: inline;
}
ul.special_order_list li ul li{
display:inline;
font-weight: normal;
list-style-type:none;
margin: 10px;
text-align:none;
}
form {
background-color:cccccc;
padding: 10px;
color: #c44;
border-width:2px;
border-color:#000;
border-style:solid;
}
form .isbn_search_button {
position: relative;
}
label,input.textbox,textarea {
display: block;
float: left;
margin-bottom: 10px;
width:350px;
}
input.textbox{
padding-left:5px;
}
input.textbox,textarea,fieldset,select.textbox {
display: block;
float: left;
margin-bottom: 10px;
border-width:2px;
border-color:#000;
border-style:solid;
}
input.reset {
margin-left: 0px;
background-color:#c44;
width:15em;
font-family: lucida,sans-serif;
font-size: 120%;
border-width:2px;
border-color:#000;
border-style:solid;
}
input.submit {
margin-left: 1em;
background-color:#c44;
width:15em;
font-family: lucida,sans-serif;
font-size: 120%;
border-width:2px;
border-color:#000;
border-style:solid;
}
input.submit-inline {
background-color:#c44;
font-family: lucida,sans-serif;
font-size: 120%;
border-width:2px;
border-color:#000;
border-style:solid;
}
label.textbox {
text-align: right;
width: 15em;
padding-right: 1em;
}
br {
clear: left;
}
/*tr {
background-color: #ccc;
}*/
div#main_image {
background-color:#eee;
padding: 15px;
color: #eee;
/*border-width:2px;
border-color:#000;
border-style:solid;*/
}
div.showhide {
float:right;
display:block;
background-color: #ccc;
padding-right: 5px;
padding-left: 5px;
border-width:2px;
border-color:#000;
border-style:solid;
}
div.showhide a {
color: #c44;
}
.slidingDiv {
height:22em;
padding:20px;
margin-top:20px;
}
div.show_hide_div {
float: left;
margin: 5px;
}
div.show_hide_div{
float: left;
}
div.show_hide_div span span {
display:inline;
}
div.show_hide_div span:first-child {
float: left;
}
.show_hide_disc_triangle {
display:none;
}
.ui-icon { margin:0px; }
span.listing {
background-color: #cccccc;
padding-left:10px;
margin-left:10px;
padding-right:10px;
border-width:2px;
border-color:#000;
border-style:solid;
}
div.button_panel{
margin-left: 15em;
}
div.listing {
margin:10px;
}
div.listinggroup {
margin:10px;
border-width:2px;
border-color:#000;
border-style:solid;
}
div.nav{
background-color:#eee;
border-width:2px;
border-color:#000;
border-style:solid;
padding:10px;
float:left;
position:relative;
}
div.main{
background-color:#eee;
border-width:2px;
border-color:#000;
border-style:solid;
margin:3px;
padding:10px;
position:relative;
float:left;
width:97%;
}
div.toolbar{
background-color:#eee;
border-width:2px;
border-color:#000;
border-style:solid;
margin:3px;
padding:10px;
position:relative;
float:left;
width:97%;
}
div.dataTables_info {
width: 40%;
}
.dataTables_paginate {
width: 25em;
height: 1em;
line-height: 1em;
}
div.dataTables_paginate span.paginate_button,
div.dataTables_paginate span.paginate_active {
border: 1px solid #aaa;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
padding: 2px 5px;
margin: 0 3px;
cursor: pointer;
*cursor: hand;
}
div.dataTables_paginate span.paginate_button {
background-color: #ddd;
}
div.dataTables_paginate span.paginate_button:hover {
background-color: #ccc;
}
div.dataTables_paginate span.paginate_active {
background-color: #99B3FF;
}
a.listinglink {
padding-left:10px;
margin-left:10px;
padding-right:10px;
background-color: #c44;
border-width:2px;
border-color:#000;
border-style:solid;
}
a.close {
border-width:2px;
border-style:solid;
font-size:200%;
background-color:#ccc;
border-color:#000;
float:right;
padding:5px;
}
a:link {
text-decoration: none;color:#000;font-weight: bold;
}
a:visited {
text-decoration: none;color:#000;font-weight: bold;
}
a:active {
text-decoration: none;color:#000;font-weight: bold;
}
a:hover {
text-decoration: underline; color: red;font-weight: bold;
}
