from Skeleton import Skeleton
#extends Skeleton

#def headscripts
<script type="text/javascript" src="/javascript/jquery.form.js"></script>
<script type="text/javascript" src="/javascript/jquery.validate.min.js"></script>
<script type="text/javascript">                                         
    var isbnDirty = false;
    jQuery(document).ready(function() {
        //Ajax setup for error handling
        jQuery.ajaxSetup({"error":function(XMLHttpRequest,textStatus, errorThrown) {   
                alert(textStatus);
                alert(errorThrown);
                alert(XMLHttpRequest.responseText);
          
        }});
        
        jQuery('#num_copies').attr('disabled', 'disabled');
        
        jQuery('#print_label').bind('click', function() {
            jQuery('#num_copies').attr('enabled', function () {
                ! jQuery(this).attr('enabled');
            });
        });
        //give isbn text box cursor focus 
        jQuery('#isbn').focus();
        
        //make return go to next text box instead of submit
        jQuery('.textbox').bind('keypress', function(evt) {
                    if (evt.keyCode == 13||evt.chatCode == 13) {
                            /* FOCUS ELEMENT */
                            var inputs = jQuery(this).parents("form").eq(0).find(":input");
                            var idx = inputs.index(this);
 
                            if (idx == inputs.length - 1) {
                                inputs[0].select()
                            } else {
                                inputs[idx + 1].focus(); //  handles submit buttons
                                inputs[idx + 1].select();
                            }   
                            return false;
                    }   
        });
        
        //isbn autofill
        jQuery('#isbn').blur( function() {
            var isbnstring=jQuery(this).val();
            isbnstring=isbnstring.toLowerCase();

            //scrub spaces & hyphens if isbn is candidate 'real isbn'
            if (isbnstring.length>11) {
                isbnstring.replace('/[\s-]/g', '');
            }
            
            //use isdirty to avoid infinite loop
            if (isbnDirty == false) {
                //check database for isbn
                jQuery.getJSON( '/admin/search_isbn', {isbn:isbnstring}, function(data){
                    //if success, fill in all the other fields
                    data=data[0]
                    jQuery.each(data, function(key, value) {
                        if (key == 'publisher') {
                            jQuery('#publisher').val(value);
                        } else if ( key == 'authors_as_string') {
                            jQuery('#authors').val(value);
                        } else if ( key == 'categories_as_string') {
                            jQuery('#categories').val(value);
                        } else if ( key == 'title') {
                            jQuery('#title').val(value);
                        } else if ( key == 'list_price') {
                            jQuery('#listprice').val(value);
                            jQuery('#ourprice').val(value);
                        } else if (key == 'isbn') {
                            jQuery('#isbn').val(value);
                        } else if ( key == 'format') {
                            jQuery('#types').val(value);
                        } else if (key ==  'kind') {
                            jQuery('#kind_name').val(value);
                        } else if ( key == 'known_title') {
                            jQuery('#known_title').val(value);
                        }
                    });
                });
                isbnDirty = true;
            }
            return false;
        });
        
        //jQuery validate using class 'required' in input fields
        jQuery('#add_to_inventory_form').validate({
            submitHandler: function(form) {
                jQuery('#add_to_inventory_form').ajaxSubmit({
                    url:'/admin/add_item_to_inventory', 
                    clearForm:false, 
                    type:'post', 
                    success:function(){
                        //add to inventory succeeds
                        
                        //print label if we need to
                        if (jQuery('#printlabel').is(':checked')) {
                            jQuery.get( '/admin/print_label', 'isbn=' + jQuery('#isbn').val()
                                + '&booktitle=' + jQuery('#booktitle').val() + '&ourprice=' + jQuery('#ourprice')
                                + '&num_copies=' + jQuery('#num_copies').val();
                        };
                        //
                        //clear all text fields except price & quantity
                        //set prices & quantity to defaults
                        //leave pulldown menus as they were
                        jQuery('#add_to_inventory_form input.textbox').not('#distributor, #quantity, #location, #owner, #status, #kind_name, #listprice, #ourprice').val('');
                        jQuery("#quantity").val(1);
                        jQuery("#listprice").val('0.0');
                        jQuery("#ourprice").val('0.0');
                        isbnDirty=false;
                    }
                });
                return false;
            }                 
        });
        
        jQuery('#add_to_inventory_form').bind('reset', function(){
                    //clear all text fields except price & quantity
                    //set prices & quantity to defaults
                    //leave pulldown menus as they were
                    jQuery('#add_to_inventory_form input.textbox').not('#distributor, #quantity, #location, #owner, #status, #kind_name, #listprice, #ourprice').val('');
                    jQuery("#quantity").val(1);
                    jQuery("#listprice").val('0.0');
                    jQuery("#ourprice").val('0.0');
                    isbnDirty=false;
        });
    }
        );
</script> 
#end def

#def pagetitle
Add item to  inventory
#end def

#def body
<h1>Add to Inventory</h1>
<br />
<form id="add_to_inventory_form" method="post" //~style="visibility:hidden; display:none">

<label class="textbox" for="isbn">Item ID (UPC or ISBN)</label> 
<input class="textbox required" minlength='1' type="text" id="isbn" name="isbn" value="$isbn" /><br />

<label class="textbox" for "printlabel"> </label>
<input type="checkbox" id="printlabel" name="printlabel" value="1" />Print 
<select class="inline" id="num_copies" name="num_copies">
#for $i in [1, 2, 3, 4]
<option value='$i'>$i</option>
#end for
</select> barcode label for this title<br />

<label class="textbox" for "quantity">Quantity</label>
<input class="textbox required" type="text" id="quantity", name="quantity", value="$quantity"/><br />

<label class="textbox" for="title">Title</label> 
<input class="textbox required" type="text" id="title" name="title" value="$title" /><br />

<label class="textbox" for="authors">Author</label> 
<input class="textbox required" type="text" name="authors" id="authors" value="$authors" /><br />

<label class="textbox" for="listprice">List Price</label>
<input class="textbox required" type="text" name="listprice" id="listprice" value="$listprice" /><br />

<label class="textbox" for="ourprice">Our Price</label>
<input class="textbox" type="text" name="ourprice" id="ourprice" value="$ourprice" /><br />

<label class="textbox" for="publisher">Publisher</label> 
<input class="textbox required" type="text" name="publisher" id="publisher" value="$publisher" /><br />

<label class="textbox" for="categories">Keyword</label> 
<input class="textbox required" type="text" name="categories" id="categories" value="$categories" /><br />

<label class="textbox" for="distributor">Distributor</label> 
<select class="textbox required" id="distributor"  name="distributor">
#for $d in $distributors
<option value='$d' 
#if "%s" %($d)==$distributor
selected="true" 
#end if 
>$d</option>
#end for
</select><br />

<label class="textbox" for="location">Location</label> 
<select class="textbox required" id="location" name="location">
<option value=''></option>
#set $i=0
#for $loc in $locations
<option value='$loc.id' 
#if "%s" %($loc.id)==$location
selected="true" 
#end if 
>$loc.locationName</option>
#set $i=$i+1
#end for
</select><br />

<label class="textbox" for="owner">Owner</label> 
<input class="textbox" type="text" name="owner" id="owner" value="$owner" /><br />

<label class="textbox" for="tag">Tag</label> 
<input class="textbox" type="text" id="tag" name="tag" value="$tag" /><br />

<label class="textbox" for="kind_name">Kind</label> 
<select class="textbox required" id="kind_name" name="kind_name">
#for $k in $kinds
<option value='$k.kindName' 
#if "%s" %($k.id)==$kind  
selected="true" 
#end if 
>$k.kindName</option>
#end for
</select><br />

<label class="textbox" for="types">Format</label> 
<select class="textbox required" id="types" name="types">
#for $f in $formats
<option value='$f' 
#if "%s" %($f)==$format
selected="true" 
#end if 
>$f</option>
#end for
</select><br />

<input class='textbox' type='hidden' id='known_title' name='known_title' value='$known_title'/>

<input class="submit" type="submit" action='/admin/add_item_to_inventory' value='Add to Inventory'>
<br />
<input class='reset' type='reset' value='Cancel'>
<br />
</form>
#end def
