##Edit Author information

#from Skeleton import Skeleton
#extends Skeleton

#def headscripts
<script type="text/javascript">
    jQuery('#id_authorName').autocomplete({
        source: 'author_autocomplete',
    });   
</script>
#end def

#def pagetitle
Editing author $author.authorName
#end def

#def body
<h1>Author record for ${author.authorName}</h1>
<form method="get" action="/authoredit">
$author.object_to_form
</form>
#end def