#from BaseSearchTemplate import BaseSearchTemplate
#extends BaseSearchTemplate

#def onclickhandler
<h1>ONCLICK</h1>
#end def

#def myname: Marko

#def table_is_form: False

#def pagetitle
Choose Book from Inwentory
#end def

#def header_title
Choose Item from Inventory
#end def 
