##Edit record information
##Parent class to be subclassed

#from .Skeleton import Skeleton
#from objects.author import Author
#extends Skeleton


#def headscripts
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery( ".editform" ).submit(function( event ) {
            if ( confirm("Do you really want to change this record?")) {
                return true;
            } else {
                event.preventDefault();     
                jQuery(this).trigger('reset');
            };
        });
    });
</script>
#end def
