##edit individual kind names
 
#from .EditTemplate import EditTemplate
#extends EditTemplate

#def headscripts
$EditTemplate.headscripts($self)
#end def

#def pagetitle
Editing a type
#end def
 
#def body
<h1>Edit a type</h1>
<form class='editform' method="get" action="/admin/kindedit">
$kind.object_to_form
</form>
#end def
