##Read/Leave notes on the notes page

#from Skeleton import Skeleton
#extends Skeleton
#def headscripts
<script type='text/javascript'>                                         
	jQuery(document).ready( function(){
	    //give focus to first field of notes form
        jQuery('form:first input:first').focus();    	    
        
        //set up ajax error handling
//         jQuery.ajaxSetup({  'cache':false,
//                             'error':function(XMLHttpRequest,textStatus, errorThrown) {   
//                                 alert(textStatus + '\r' +
//                                       errorThrown + '\r' +
//                                       XMLHttpRequest.responseText);
//                             }
//         });
        
        //populate table with contents of notes table.
        //dataTable does pagination, etc, for free
        jQuery.getJSON('/notes/get_notes', null, function( json ) {
            jQuery('#message_table').dataTable({    'aaData':json,
                                                    'aSorting':[],
                                                    'bProcessing':true,
                                                    'oSearch': {'sSearch':'', bRegex:false, bSmart:true},
                                                    'iDisplayLength': 50,
                                                    'sPaginationType':'full_numbers'});
        });
    });
</script>
#end def

#def pagetitle
Notes
#end def

#def body
<h1>Notes</h1>
<form action="/notes/post_note" method="post">
<label class='textbox' for='author'>Name</label>
<input class='textbox' type='text' id='author' name='author' /><br />

<label class='textbox' for='message'>Message</label>
<textarea class='textarea' rows='5' id='message' name='message'></textarea><br />

<input class="submit" type="submit"/><br />
</form>
<div id='notes' class='table' name='notes'>
<table class="sortable" id="message_table" >
<thead>
  <tr>
    <th>Notes</th>    
  </tr>
</thead>
<tbody>
  <tr>
    <td></td>
</tr>
</tbody>
</table>
</div>
#end def
