#from Skeleton import Skeleton
#extends Skeleton

#def headscripts
<script type="text/javascript">                                         
    jQuery(document).ready( function(){
        jQuery('#report_results_table').dataTable({
            "bJQueryUI": true,
            "bAutoWidth":false,
            "sPaginationType": "full_numbers",
            "aoColumnDefs": [{ "sWidth": "75%", "aTargets": [ 0 ] },]
       });
    });
</script>
#end def

#def pagetitle
Report: ${report.metadata['name']}
#end def

#def body
<h1>${report.metadata['name']}</h1>
${report.queryForm()}
<hr />
#if $do_query
<table class="sortable" id="report_results_table" >
<thead>
$header
</thead>
<tbody>
#for $r in $results
$r
#end for
</tbody>
</table>
<b>Total: $total</b>
#end if
#end def
