##Report Template for actuall laying out report form
##and its results. The specifics of a report are laid
##out by subclassing reports.report Report.

#from Skeleton import Skeleton
#extends Skeleton

#def headscripts
<script type="text/javascript">
    jQuery(document).ready( function(){
        jQuery('form:first input:first').focus();    
        var resultsTable = jQuery('#report_results_table').dataTable({
            "aaSorting":[],
            "bJQueryUI": true,
            "bAutoWidth":true,
            'sPaginationType':'simple_numbers',
            'columnDefs': [
                {},
            ],
            "iDisplayLength": 50,
            "order":[],
            "sDom": '<"top"lf>rt<"bottom"ip><"clear">'});
       resultsTable.width('100%');
    });
</script>
#end def

#def pagetitle
Report: ${report.metadata['name']}
#end def

#def body
<h1>${report.metadata['name']}</h1>
${report.queryForm()}
#if $do_query
<table class="sortable" id="report_results_table" >
<thead>
$header
</thead>
<tbody>
#for $r in $results
$r
#end for
</tbody>
#if $report.do_total
<tfoot><td><b>Total: $total</b></td></tfoot>
#end if
</table>
#end if
#end def
