#from BaseSearchTemplate import BaseSearchTemplate
#extends BaseSearchTemplate

#def pagetitle
Search the Inwentory
#end def

#def header_title
Inventory
#end def 

#def onclickhandler: "window.open('/titleedit?id=$t.id');"
#set $table_is_form = True