#from Skeleton import Skeleton
#extends Skeleton

#def pagetitle
Search the inventory
#end def

#def headscripts
<script src="/javascript/jquery.fixedheadertable.js"></script>
<script type="text/javascript">                                         
	jQuery(document).ready( function(){
	    var disclosureTriContent = ['<span class="show_hide_disc_triangle ui-state-default ui-corner-all" data-subscript="0"><span class="ui-icon ui-icon-triangle-1-e"></span><span class="text" style="display: block; ">More options...</span></span>',
	        '<span class="show_hide_disc_triangle ui-state-default ui-corner-all" data-subscript="1"><span class="ui-icon ui-icon-triangle-1-s"></span><span class="text" style="display: block; ">Fewer options...</span></span>'];
        jQuery(".slidingDiv").hide();
        jQuery(".showhide").hide();
        jQuery(".show_hide_disc_triangle").show();
        jQuery('.show_hide_div').click(function(){
            jQuery(".slidingDiv").slideToggle();
            jQuery(this).html(disclosureTriContent[(jQuery(this).find('.show_hide_disc_triangle').data('subscript') + 1) % 2]);
            jQuery(this).find('.show_hide_disc_triangle').show();
            return false
        });
        
        jQuery('#begin_date,#end_date').datepicker({dateFormat:'yy-mm-dd'});
        jQuery('#results_table').dataTable({    'aSorting':[[1, 'asc']],
                                                'sPaginationType':'full_numbers'});
        
	});
</script>
#end def

#def body
<h1>Inventory</h1>
<div class="showhide"><a  href="javascript:show_hide('search_form')">Show/hide search form</a></div>
<br />
<form id="search_form" method="get" action="/search"
#if not($empty)
style="visibility:hidden;display:none"
#end if
>

<label class="textbox" for="title">Title</label> 
<input class="textbox" type="text" id="title" name="title" value="$title" /><br />

<label class="textbox" for="author">Author</label> 
<input class="textbox" type="text" name="author" id="author" value="$author" /><br />

<label class="textbox" for="category">Keyword</label> 
<input class="textbox" type="text" name="category" id="category" value="$category" /><br />

<label class="textbox" for="isbn">ISBN</label> 
<input class="textbox" type="text" name="isbn" id="isbn" value="$isbn" /><br />

<div class='show_hide_div'>
<span class="show_hide_disc_triangle ui-state-default ui-corner-all" data-subscript="0"><span class="ui-icon ui-icon-triangle-1-e"></span><span class="text" style="display: block; ">More options...</span></span>
</div>
<div class="slidingDiv">

<label class="textbox" for="location">Location</label> 
<select class="textbox" id="location" name="location">
#set $i=0
#for $loc in $locations
<option id=$i value='$loc.id' 
#if "%s" %($loc.id)==$location
selected="true" 
#end if 
>$loc.locationName</option>
#set $i=$i+1
#end for
</select><br />

<label class="textbox" for="publisher">Publisher</label> 
<input class="textbox" type="text" name="publisher" id="publisher" value="$publisher" /><br />

<label class="textbox" for="distributor">Distributor</label> 
<input class="textbox" type="text" name="distributor" id="distributor" value="$distributor" /><br />

<label class="textbox" for="owner">Owner</label> 
<input class="textbox" type="text" name="owner" id="owner" value="$owner" /><br />


<label class="textbox" for="out_of_stock">Only return out of stock books?</label>

<fieldset id="out_of_stock">
no <input type="radio" name="out_of_stock" id="out_of_stock_no" value="no" 
#if $out_of_stock == 'no'
checked
#end if
> 
yes<input type="radio" name="out_of_stock" id="out_of_stock_yes" value="yes"
#if $out_of_stock == 'yes'
checked
#end if
>
</fieldset>

<br />


<label class="textbox" for="stock_less_than">This many or less in stock</label> 
<input class="textbox" type="text" name="stock_less_than" id="stock_less_than" value="$stock_less_than" /><br />

<label class="textbox" for="stock_more_than">This many or more in stock</label> 
<input class="textbox" type="text" name="stock_more_than" id="stock_more_than" value="$stock_more_than" /><br />

<label class="textbox" for="sold_more_than">This many or more sold</label> 
<input class="textbox" type="text" name="sold_more_than" id="sold_more_than"  value="$sold_more_than" /><br />

<label class='textbox' for='begin_date'>This item sold After:</label><input type='text' class='textbox' name='begin_date' id='begin_date' value='${begin_date}'/><br />
<label class='textbox' for='end_date'>This item sold Before</label><input type='text' class='textbox' name='end_date' id='end_date' value='${end_date}'/><br />
#*
<script type='text/javascript'>
    Calendar.setup({
        inputField     :    'begin_date',   // id of the input field
        ifFormat       :    '%Y-%m-%d',       // format of the input field
        showsTime      :    false,
    });
    Calendar.setup({
        inputField     :    'end_date',   // id of the input field
        ifFormat       :    '%Y-%m-%d',       // format of the input field
        showsTime      :    false,
    });
</script>
*#

<label class="textbox" for="tag">Tag</label> 
<input class="textbox" type="text" id="tag" name="tag" value="$tag" /><br />
</div>

<label class="textbox" for="kind">Kind</label> 
<select class="textbox" id="kind" name="kind">
#for $k in $kinds
<option value='$k.id' 
#if "%s" %($k.id)==$kind  
selected="true" 
#end if 
>$k.kindName</option>
#end for
</select><br />

<input class="submit" type="submit">

<br />
</form>
<form action="/titlelist" method="get" >
<table class="sortable" id="results_table" >
<thead>
  <tr>
    <th>Mark</th>
    <th>Title</th>
    <th>Author</th>
    <th>Format</th>
    <th>Copies in Stock</th>
    <th>Copies Sold</th>
    <th>Distributor</th>
    <th>Publisher</th>
    <th>First Inventoried</th>
    <th>Latest Inventoried</th>
    <th>First Sold</th>
    <th>Last Sold</th>
    ##<th>Keyword</th>
  </tr>
</thead>
<tbody>
#for $t in $titles
  <tr onclick="window.open('/titleedit?id=$t.id');">
    <td><input type="checkbox" name="titles" value="$t.id" onclick='if (event.stopPropagation){
               event.stopPropagation();
           }
           else if(window.event){
              window.event.cancelBubble=true;
           }'/></td>
    <td>$t.safe('booktitle')</td>
    <td>$t.authors_as_string</td>
    <td>$t.type</td>
    <td>${t.copies_in_status("STOCK")}</td>
    <td>${t.copies_in_status("SOLD")}</td>
    <td>${t.distributors_as_string()}</td>
    <td>${t.safe('publisher')}</td>
    <td>${t.first_book_inventoried.inventoried_when}</td>
    <td>${t.last_book_inventoried.inventoried_when}</td>
    <td>${t.first_book_sold.sold_when}</td>
    <td>${t.last_book_sold.sold_when}</td>
    ##<td>$t.categories_as_string</td>
</tr>
#end for
</tbody>
</table>
<br />
<input class="submit"  name="list" type="submit" value="get marked titles" /><br /><br />
<input class="submit"  name="delete" onclick="return confirm('Are you sure?');" type="submit" value="delete marked titles" />
</form>

#end def
