##Edit Special Order information

#from inventoryserver.Skeleton import Skeleton
#extends Skeleton

#def pagetitle
    Search results for string '$authorOrTitle'
#end def

#def headscripts
<script type="text/javascript" src="/javascript/jquery.validate.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready( function(){
//         //Ajax setup for error handling
//         jQuery.ajaxSetup({"error":function(XMLHttpRequest,textStatus, errorThrown) {   
//                 alert(textStatus + '\\r\\r' + errorThrown
//                     + '\\r\\r' + XMLHttpRequest.responseText);
//         }});

        jQuery('#results_table').dataTable({    'aSorting':[[1, 'asc']],
                                                'sPaginationType':'simple_numbers',
                                                "iDisplayLength": 50});
        
        //Special order an item. Checks by
        //keyword both in db and amazon.
        row_click_handler = function(event) {
                    event.preventDefault();
                    item = {}
                    item['isbn']=jQuery(this).children()[0].innerHTML;
                    item['title']=jQuery(this).children()[1].innerHTML;
                    item['authors']=jQuery(this).children()[2].innerHTML;
                    item['publisher']=jQuery(this).children()[3].innerHTML;
                    item['categories']=jQuery(this).children()[4].innerHTML;
                    item['format']= jQuery(this).children()[6].innerHTML;
                    item['kind']=jQuery(this).children()[7].innerHTML;
                    item['known_title_id']=jQuery(this).children()[8].innerHTML;

                    //add item to special order, and update page
                    special_order_args={item:JSON.stringify(item), specialOrderID:jQuery('#special_order_id').text()};
                    alert(special_order_args);
                    jQuery.post('/specialorder/add_to_special_order', special_order_args, function() {
                        //go back to special order edit page, success or not.
                        //will reflect on reload.
                        document.location.href= '/specialorder/special_order_edit?id=' + jQuery('#special_order_id').text();
                    });
                    
                    return false;
        }
        //Desktops open on doubleclick.
        //IOS & android use single click.
         if (navigator.userAgent.match(/ipad|iphone|ios|android/i) == null) {
            jQuery('#results_table  tbody tr').dblclick(row_click_handler);
        } else {
            jQuery('#results_table tbody tr').click(row_click_handler);
        }
      });
</script
#end def

#def body
    <h1>Search Results for '$authorOrTitle'</h1>
    <p id='special_order_id' hidden>$specialOrderID</p>
    <table class="sortable" id="results_table" >
        <thead>
          <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Authors</th>
            <th>Publisher</th>
            <th>Keywords</th>
            <th>List Price</th>
            <th>Format</th>
            <th>Kind</th>
            <th>Known Title</th>
          </tr>
        </thead>
        <tbody>
         #for r in $resultset.values()
              <tr>
                    #try              
                        <td>#if $r['isbn'] then $r['isbn'] else ""#</td>
                        <td>#if $r['title'] then $r['title'] else ""#</td>
                        <td>#if $r['authors_as_string'] then $r['authors_as_string'] else ""#</td>
                        <td>#if $r['publisher'] then $r['publisher'] else ""#</td>
                        <td>#if $r['categories_as_string'] then $r['categories_as_string'] else ""#</td>
                        <td>#if $r['list_price'] then $r['list_price'] else ""#</td>
                        <td>#if $r['format'] then $r['format'] else ""#</td>
                        <td>#if $r['kind'] then $r['kind'] else ""#</td>
                        <td>#if $r.get('known_title').id then $r.get('known_title').id else ""#</td>
                    #except
                        <td</td>
                    #end try
              </tr>
        #end for
        </tbody>
    </table>
#end def
