##Choose item from inventory using usual search criteria
##and add it to cart

#from inventoryserver.Skeleton import Skeleton
#extends Skeleton

#def pagetitle
Special Orders
#end def

#def headscripts
<script src="/javascript/jquery.fixedheadertable.js"></script>
<script type="text/javascript">                                         
    //Make lesser used fields hideable
    jQuery(document).ready( function(){
        
        jQuery('#begin_date,#end_date').datepicker({dateFormat:'yy-mm-dd'}).blur();

        //hide special order id column 
        jQuery('#results_table td:nth-child(5), #results_table th:nth-child(5)').hide();
        
        //dataTable gives us pagination, etc for free
        jQuery('#results_table').dataTable({    'aSorting':[[1, 'asc']],
                                                'order':[[1, 'asc']],
                                                'sPaginationType':'simple_numbers',
                                                "iDisplayLength": 50,
                                                'sDom': '<"H"lfr><"#new_special_order">t<"F"ip>'
                                            });

        
        //add button to make new special order
        jQuery('#new_special_order').button().click( function( event ) {
            event.preventDefault();
            document.location.href= "http://" + document.location.host + '/specialorder/special_order_edit';
        });
            
        //doubleclick adds item to cart, except for iOS/Android
        //where we use a single click
        if (navigator.userAgent.match(/ipad|iphone|ios|android/i) == null) {
            jQuery('#results_table tr').dblclick(function(event) {
                event.preventDefault();
                specialorderID=jQuery(this).children().last()[0].innerHTML;
                document.location.href= "http://" + document.location.host + '/specialorder/special_order_edit?id=' + specialorderID;
                return false;
            });
        } else {
            jQuery('#results_table tr').click(function(event) {
                event.preventDefault();
                specialorderID=jQuery(this).children().last()[0].innerHTML;
                document.location.href= "http://" + document.location.host + '/specialorder/special_order_edit?id=' + specialorderID;
                return false;
            });
        }
    });
</script>
#end def

#def body
<button id='new_special_order' class='new_special_order'><h2>New Special Order</h2></button></br>

<h1>Search Special Orders</h1>

<form id="search_form" method="get" action="/specialorder/special_order_list"
#if not($empty)
style="visibility:hidden;display:none"
#end if
>
<label class="textbox" for="author">Customer Name</label> 
<input class="textbox" type="text" name="customer_name" id="customer_name" value="$customer_name" /><br />

<label class="textbox" for="author">Customer Phone Number</label> 
<input class="textbox" type="text" name="customer_phone_number" id="customer_phone_number" value="$customer_phone_number" /><br />

<label class="textbox" for="author">Customer E-Mail</label> 
<input class="textbox" type="text" name="customer_email" id="customer_email" value="$customer_email" /><br />

<label class="textbox" for="title">Title</label> 
<input class="textbox" type="text" id="title" name="title" value="$title" /><br />

<label class="textbox" for="author">Author</label> 
<input class="textbox" type="text" name="author" id="author" value="$author" /><br />

<label class="textbox" for="kind">Kind</label> 
<select class="textbox" id="kind" name="kind">
#for $k in $kinds
<option value='$k.id' 
#if "%s" %($k.id)==$kind  
selected="true" 
#end if 
>$k.kindName</option>
#end for
</select><br />

<input class="submit" type="submit">

<br />
</form>

<table class="sortable" id="results_table" >
<colgroup class="title_id">
<thead>
  <tr>
    <th>Customer Name</th>
    <th>Customer Phone Number</th>
    <th>Customer E-Mail</th>
    <th>Items Ordered</th>
    ##<th>ISBN</th>
    ##<th>Book Title</th>
    ##<th>Author</th>
    <th>ID</th>
  </tr>
</thead>
<tbody>
#for $s in $orders
    <tr>
        <td>#if $s.customerName then $s.customerName else ""#</td>
        <td>#if $s.customerPhoneNumber then $s.customerPhoneNumber else ""#</td>
        <td>#if $s.customerEmail then $s.customerEmail else ""#</td>
        <td>
            <ul class=special_order_list>
                #for t in $s.titles
                    <li>
                        <ul>
                            <li>#if $t.isbn then $t.isbn else ""#</li>
                            <li>#if $t.booktitle then $t.booktitle else ""#</li>
                            <li>#if $t.authors_as_string then $t.authors_as_string else ""#</li>
                        </ul>
                    </li>
                #end for
            </ul>
        </td>
        <td>#if $s.id then $s.id else ""#</td>
    </tr>
#end for
</tbody>
</table>

#end def
