
#from .Skeleton import Skeleton
#extends Skeleton
#def headscripts
<link rel='stylesheet' type='text/css' href='/javascript/fullcalendar-1.5.4/fullcalendar.css' />
<script type='text/javascript' src='/javascript/fullcalendar-1.5.4/fullcalendar.js'></script>
<script type='text/javascript' src='/javascript/fullcalendar-1.5.4/gcal.js'></script>
<script type='text/javascript'>                                         
jQuery(document).ready( function(){        
       //set up ajax error handling
//         jQuery.ajaxSetup({  'cache':false,
//                             'error':function(XMLHttpRequest,textStatus, errorThrown) {   
//                                 alert(textStatus + '\r' +
//                                      errorThrown + '\r')
//                             }
//         });
       
        //set up calendar
       jQuery('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            events: {
               url: 'http://www.google.com/calendar/feeds/woodenshoe.tech%40gmail.com/public/basic',
            },
            minTime: 12,
            maxTime: 22,
            editable: true
        });
   });
</script>
#end def

#def pagetitle
Staffing Calendar
#end def

#def body
<h1>Staffing Calendar</h1>
<div id='calendar'></div>
#end def
