##Edit info for an individual location.

#from Skeleton import Skeleton
#extends Skeleton

#def pagetitle
Editing a type
#end def

#def body
<h1>Edit Location</h1>
<form method="get" action="/admin/locationedit">
$location.object_to_form
</form>
#end def